@font-face {
    font-family: 'Cursiva';
    src: url('./fonts/Cursiva.otf');
}

h1 {
    font-family: 'Cursiva', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Cursiva', sans-serif;
    font-weight: 400;
    font-size: 25px;
}

a {
    margin: 20px;
    padding: 10px;
}

a {
    cursor: default;
    text-decoration: none;
}

a:visited {
    color: hotpink;
}

a:hover {
    background-color: teal;
    border-radius: 50px;
    transform: 1s ease-in-out;

}

a:active {
    background-color: gray;
    border-radius: 50%;
}